form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  max-width: 80rem;

  .switch{
    margin: 1rem 0;
  }
  .link{
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0 auto;
  }
  fieldset {
    border: none;
    width: 100%;
    margin: 0 auto;
    label {
      font-weight: bold;
      display: flex;
      justify-content: start;
      color: var(--black);
    }

    input {
      padding: 1rem 2rem;
      margin: 1rem 0;
      width: 100%;
      border: solid .2rem var(--black);
      border-radius: .25rem;
      font-size: 1.5rem;

      &[type="submit"], &[type="button"] {
        background-color: var(--black);
        color: var(--white);
        font-weight: bold;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        &:hover {
          color: var(--black);
          background-color: var(--white);
        }
      }

      &[type="reset"] {
        background-color: var(--gray);
        color: var(--black);
        font-weight: bold;
      }
      &[type="file"] {
        background-color: var(--gray);
        color: var(--black);
        font-weight: bold;
      }
      &[type="text"], &[type="email"], &[type="password"] {
        background-color: var(--gray);
        color: var(--black);
        font-weight: bold;
      }
      &[placeholder] {
        color: var(--black);
      }
    }
  }
  textarea {
    padding: 1rem 2rem;
    margin: 1rem 0;
    width: 100%;
    border: solid .2rem var(--black);
    color: var(--black);
    background-color: var(--gray);
    border-radius: .25rem;
    text-transform: capitalize;
  }
  select {
    padding: 1rem 2rem;
    margin: 1rem 0;
    width: 100%;
    border: solid .2rem var(--black);
    border-radius: .25rem;
    text-transform: capitalize;
    background-color: var(--gray);
  }
  option{
    color: var(--black);
  }
}


.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 75%;
  gap: 1.5rem;

  input[type="submit"] {
    width: auto;
  }
}
