.comments {
  h3 {
      font-size: 24px;
      margin-bottom: 15px;
  }

  .comment {
      border-bottom: 1px solid #ccc;
      padding-bottom: 15px;
      margin-bottom: 15px;

      p {
          margin: 0;

          &:first-of-type {
              font-weight: bold;
              margin-bottom: 5px;
          }

          &:last-of-type {
              color: #888;
              font-size: 14px;
          }
      }
  }

}