header {
  nav {
    @media screen and (max-width: 600px) {
      display: none;
    }
    ul {
      display: flex;
      justify-content: space-around;
      padding: 1rem;
      align-items: center;
      width: 100%;

      li {
        margin: 1rem;

        &:hover {
          margin: 1rem;
          background: var(--black);
          border-radius: .25rem;

          a {
            color: var(--white);
            svg{
              color: var(--white);
            }
          }
        }

        a {
          color: var(--black);
          font-weight: bold;
          display: inline-block;
          padding: .5rem 1.5rem;
          cursor: pointer;

          svg {
            width: 1.6rem;
            height: 1.6rem;
            display: inline-block;
          }
        }

      }
    }
  }
  .burger{
    display: none;
    @media screen and (max-width: 600px) {
      display: block;
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
    }
  }
}
